<div class="ml-72 py-5" style="background-color: #EDF4F2;">
    <div class="flex justify-between px-6">
        <h1 class="text-2xl font-bold ">{{ destination }}</h1>

        <div class="flex gap-4 items-center">
            <!-- Add vacancy -->
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-9 cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </div>
            <!-- Account user if exist, After succesfully login -->
            <div class="items-center gap-3 flex">
                <p class="text-gray-600 font-bold text-xl">Hello, <span class="text-black">Anzori!</span></p>
                <div class="w-12 h-12 ">
                    <img class="rounded-full" src="../../../assets/images/me.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>