<div
    class="fixed inset-0 flex items-center justify-center z-50 bg-white shadow-lg rounded-lg max-w-md h-fit py-7 mx-auto my-auto">
    <!-- Close button -->
    <span class="absolute right-3 top-3 cursor-pointer" (click)="close()">
        <svg aria-hidden="true" fill="none" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-black">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </span>
    <div>
        <div class="container flex flex-col mx-auto bg-white rounded-lg my-5">
            <div class="flex justify-center w-full my-auto xl:gap-14 lg:justify-normal md:gap-5 draggable">
                <div class="flex items-center justify-center w-full">
                    <div class="flex items-center">
                        <form class="flex flex-col w-full pb-6 text-center bg-white rounded-3xl" (submit)="onSubmit()">
                            <h3 class="mb-3 text-4xl font-extrabold text-gray-900">Sign In</h3>

                            <label for="email" class="mb-2 text-sm text-start text-gray-900">Email*</label>
                            <input id="email"  [(ngModel)]="userData.email" name="email" type="email" placeholder="mail@loopple.com"
                                class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-gray-100 mb-7 placeholder-gray-700 bg-gray-50 text-gray-900 rounded-2xl" />

                            <label for="password" class="mb-2 text-sm text-start text-gray-900">Password*</label>
                            <input id="password" [(ngModel)]="userData.password" name="password" type="password" placeholder="Enter a password"
                                class="flex items-center w-full px-5 py-4 mb-5 mr-2 text-sm font-medium outline-none focus:bg-gray-100 placeholder-gray-700 bg-gray-50 text-gray-900 rounded-2xl" />

                            <div class="flex flex-row justify-between mb-8">
                                <label class="relative inline-flex items-center mr-3 cursor-pointer select-none">
                                    <input type="checkbox" checked value="" class="sr-only peer">
                                    <div
                                        class="w-5 h-5 bg-white border-2 rounded-sm border-gray-500 peer peer-checked:border-0 peer-checked:bg-blue-500">
                                        <img class=""
                                            src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/motion-tailwind/img/icons/check.png"
                                            alt="tick">
                                    </div>
                                    <span class="ml-3 text-sm font-normal text-gray-900">Keep me logged in</span>
                                </label>
                                <a href="#" class="mr-4 text-sm font-medium text-blue-500 hover:text-blue-600">Forget
                                    password?</a>
                            </div>
                            <!-- Submit Button -->
                             <p class="text-red-600 text-sm py-1">{{ this.text }}</p>
                            <button type="submit"
                                class="w-full px-6 py-5 mb-5 text-sm font-bold leading-none text-white transition duration-300 md:w-96 rounded-2xl hover:bg-blue-600 focus:ring-4 focus:ring-blue-100 bg-blue-500">Sign
                                In</button>

                            <p class="text-sm leading-relaxed text-gray-900">Not registered yet?
                                <span (click)="goRegister()"
                                    class="cursor-pointer font-bold text-gray-700 hover:text-gray-900">Create an
                                    Account</span>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>