<div class="fixed inset-0 items-center justify-center z-50 bg-white shadow-lg rounded-lg overflow-auto max-w-96 h-fit py-4 mx-auto my-auto">
    <span class="absolute right-3 top-3 cursor-pointer" (click)="close()">
        <svg data-slot="icon" aria-hidden="true" fill="none" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="size-6 text-black font-bold">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </span>
    <div class="flex items-center justify-center h-max px-12">
        <div class="bg-white rounded-lg w-ful" (submit)="onSubmit()">
            <h2 class="text-center mb-4 text-4xl font-extrabold text-gray-900">Sign Up</h2>
            <form>
                <div class="mb-4">
                    <label for="fullName" class="block text-gray-700 text-sm font-semibold mb-2">Full Name *</label>
                    <input  type="text" [(ngModel)]="userData.name" name="name" id="fullName" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500" required placeholder="James Brown">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-gray-700 text-sm font-semibold mb-2">Email Address *</label>
                    <input type="email" [(ngModel)]="userData.email" name="email" id="email" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500" required placeholder="hello@alignui.com">
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-gray-700 text-sm font-semibold mb-2">Password *</label>
                    <input type="password" [(ngModel)]="userData.password" name="password" id="password" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500" required placeholder="••••••••">
                </div>
                <div class="mb-2">
                    <label for="Cpassword" class="block text-gray-700 text-sm font-semibold mb-2">Confirm Password *</label>
                    <input type="password" [(ngModel)]="userData.password" name="password" id="Cpassword" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500" required placeholder="••••••••">
                </div>

                <div class="flex gap-2 items-center py-3">
                    <label class="flex items-center space-x-2 cursor-pointer">
                        <input type="radio" name="role" value="user" [(ngModel)]="userData.role" class="w-4 h-4 text-blue-600 focus:ring-blue-500">
                        <span class="text-gray-700">User</span>
                    </label>
                    <label class="flex items-center space-x-2 cursor-pointer">
                        <input type="radio" name="role" value="company" [(ngModel)]="userData.role" class="w-4 h-4 text-green-600 focus:ring-green-500">
                        <span class="text-gray-700">Company</span>
                    </label>
                </div>
              
                
                <div class="error text-red-800 text-sm">{{ text }}</div>
                <button type="submit" class="w-full bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Register</button>
                <p class="text-gray-600 text-xs text-center mt-4">
                    By clicking Register, you agree to accept Apex Financial's
                    <a href="#" class="text-blue-500 hover:underline">Terms and Conditions</a>.
                </p>
            </form>
        </div>
    </div>
</div>